#root {
  width: 100%;
  height: 100%;
}

.serviceField {
  width: 100%;
  height: 100%;
  position: relative;
}

.serviceLeft {
  height: 100%;
}

.serviceMain {
  .serviceHeader {
    height: 55px;
    padding: .5rem;
    border-bottom: 1px solid #eee;
  }
  .serviceContent {
    overflow-y: scroll;
  }
}
