#root {
  width: 100%;
  height: 100%;
}

.serviceField {
  width: 100%;
  height: 100%;
  position: relative;
}

.serviceLeft {
  height: 100%;
}

.serviceMain {
  .serviceContent {
    overflow-y: scroll;
  }
}
