.wikiItem {
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: .25rem;
  &:hover {
    opacity: .7;
  }
  .itemLeft {
    width: 100px;
    height: 100px;
    .itemThumbnail {
      width: 100px;
      height: 100px;
      background: url(../images/defaultArticleImage.png);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
  .itemMain {
    .itemOperational {
      a {
        margin-right: .5rem;
      }
    }
  }
}

