.WikiShow {
  height: 100%;
  padding: 1rem;
  border-left: 1px solid #eee;
  text-align: left;
  .WikiShowHeader, .WikiShowBody {
    padding: 0 2rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid #ddd;
  }
}
