.c-button {
  display: inline-block;
  padding: .5rem 1rem;
  background-color: $mhp-color--light-grey;
  border: 1px solid $mhp-color--light-grey;
  border-radius: .25rem;
  color: $mhp-font-color--black;
  font-size: .8rem;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  transition: all .2s 0s ease;
  &:hover {
    background-color: tint($mhp-color--light-grey--hovered, 20%);
  }
}

.c-button--primary {
  @extend .c-button;
  background-color: $mhp-color--primary;
  border: none;
  color: $mhp-color--white;
  &:hover {
    background-color: tint($mhp-color--primary, 20%);
  }
}

.c-button--secondary {
  @extend .c-button;
  background-color: $mhp-color--secondary;
  border: none;
  color: $mhp-color--white;
  &:hover {
    background-color: tint($mhp-color--secondary, 20%);
  }
}

.c-button-size--smallX {
  padding: .05rem .25rem;
  font-size: .5rem;
}

.c-button-size--small {
  padding: .2rem .4rem;
  font-size: .75rem;
}
