.u-fs--12 {
  font-size: 12px;
}

.u-fs--16 {
  font-size: 16px;
}

.u-fs--18 {
  font-size: 18px;
}

.u-fs--20 {
  font-size: 20px;
}

.u-fs--24 {
  font-size: 24px;
}

.u-fs--36 {
  font-size: 36px;
}
