._bg_cover {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.loading-wrap {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  background-color: rgba(0,0,0,0.3);
  z-index: 100;
}
