.u-flex {
  display: flex;
  width: 100%;
}

.u-flex--col {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.u-flex--fs {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  .u-optional-right {
    margin-left: auto;
    a {
      display: inline-block;
      margin-left: .5rem;
    }
  }
}

.u-flex--sb {
  display: flex;
  justify-content: space-around;
}

.u-flex--item-table {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.u-flex--1 {
  flex: 1;
}

._row {
  flex-flow: row wrap;
}

._col {
  flex-flow: column wrap;
}

._jc {
  justify-content: center;
  align-items: center;
}

._hid {
  display: none;
}

._nobdr {
  border: none;
}

._bg_cover {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.loading-wrap {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  background-color: rgba(0,0,0,0.3);
  z-index: 100;
}
