// Main Colors
$mhp-color--primary: #0096CE;
$mhp-color--secondary: #0c33ff;
$mhp-color--alternative: #FFB600;
$mhp-color--caution: #FF8500;


// Sub Colors
$mhp-color--white: #FFFFFF;
$mhp-color--light-grey: #FCFCFC;
$mhp-color--light-grey--hovered: #ECF2FE;


// font-colors
$mhp-font-color--black: #333333;


// border-colors
$mhp-border-color--grey: #ccc;
