@import "../admin/animations.scss";

.serviceSidebar {
  height: 100%;
  background-color: #333;
  .sidebarLogoWrap {
    height: 80px;
    padding: 1rem;
    box-sizing: border-box;
    .sidebarLogo {
      width: 3rem;
      height: 3rem;
      background: url(../logoReact.png);
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      animation: 10s linear 0s rotate infinite;
    }
  }
  .sidebarMenus {
    a {
      .sidebarElem {
        color: #fff;
        text-align: center;
        &:hover {
          transition: all .5s ease 0s;
          background-color: #006494;
        }
        i {
          padding-top: .5rem;
        }
        p {
          padding-bottom: .5rem;
          line-height: 1;
        }
      }
    }
  }
}
