.whoops-404 {
  padding: 1rem 2rem;
  .whoops-404-container {
    padding: 3rem 1rem;
    background-color: rgba(255,0,0, .2);
    .whoops-404-header {
    }
    .whoops-404-body {
      padding: 1rem 0;
    }
  }
}
