#root {
  width: 100%;
  height: 100%;
}

.serviceField {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  position: relative;
}

.serviceLeft {
  height: 100%;
  width: 80px;
  box-sizing: border-box;
}

.serviceMain {
  flex: 1;
  height: 100%;
  padding: 1rem;
}
